---
layout: default
---
<div class="recipes-content-container">
  <div class="row">
   <div class="col s12">
     <div class="wrpr" style="margin-top:50px">
       <form>
        <div class="input-field">
         <input id="search" type="search" autofocus>
         <label for="search"><i class="material-icons">search</i></label>
         <i class="material-icons">close</i>
       </div>
     </form>
   </div>
 </div>
</div>
<div class="row row--height--full">
  <div class="col s12">
   <div class="recipeCard-container">
    {% for post in site.posts %}
    <div class="card-container">
      <div class="card">
        <div class="card-image" style="
        {% if post.image %}
        background-image:url('{{site.baseurl}}/media/food/{{post.image}}');
        {% else %}
        background-image:url('{{site.baseurl}}/media/food/blank.jpg');
        {% endif %}
        ">
        <a href="{{ site.baseurl }}{{ post§.url }}">
          <div class="card-image-details">
            {% if post.time %}
            <div class="detail-time"><span>{{post.time}}</span><i class="material-icons">access_time</i></div>
            {% endif %}
            {% if post.rating %}
            <div class="detail-rating"><i class="material-icons">grade</i><span>{{post.rating}}</span></div>
            {% endif %}
          </div>
          <span class="card-title">{{ post.title }}</span>
        </a>
        <i class="material-icons right activator">more_vert</i>
      </div><!-- card-image-->
      
      <div class="card-content">
        <p>{{ post.description }}</p>
      </div>
      <div class="card-reveal">
       <div class="row">
        <div class="col s10">
          <span class="card-title grey-text text-darken-4">{{post.title}}</span>
        </div>
        <div class="col s2">
          <i class="card-title material-icons right">close</i>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          {% if post.comments %}
          {% for comment in post.comments %}
          <p><span class="comment--italic">{{comment}}</span></p>
          {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="card-keywords hidden">
            <div class="card-tags">
             {% for tag in post.tags %}
             <span>{{tag}}</span>
             {% endfor %}
             <span>{{post.title}}</span>
           </div>
         </div>
         <!-- Modal Trigger -->
         <a class="waves-effect waves-light modal-trigger hidden" href="#post-modal-{{post.index}}">Tags</a>
       </div>
     </div>
     
   </div>
 </div>
</div>
<!-- Modal Structure -->
<div id="post-modal-{{post.index}}" class="modal">
  <div class="modal-content">
    <h4>Tags for {{post.title}}</h4>
    <div class="card-keywords shown">
      <div class="card-tags">
       {% for tag in post.tags %}
       <span>{{tag}}</span>
       {% endfor %}
       <span>{{post.title}}</span>
     </div>
   </div>
 </div>
 <div class="modal-footer">
  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
</div>
</div>
{% endfor %}
</div>
</div>
</div>
</div>







<script>
  $('.modal-trigger').leanModal();
  var searchEngine = {};
  var lastSearchArray = [];
  var cardContainer = '.card-container';

  searchEngine.showAllCards = function(){
    $(cardContainer).removeClass('found');
    $(cardContainer).removeClass('hidden');
  }

  searchEngine.hideAllCards = function(){
    $(cardContainer).addClass('hidden');
    $(cardContainer).removeClass('found');

  }

//card = jquery Object
searchEngine.showCard = function(card){
  card.removeClass('hidden');
  card.addClass('found');
}

//card = jquery Object
searchEngine.hideCard = function(card){
  card.addClass('hidden');
  card.removeClass('found');
}

//searchWords = []
searchEngine._showMatchingCards = function(searchWords){

    //initially we want no card to have class "found"
    //searchEngine.showAllCards();
    searchEngine.hideAllCards();
    //loop each search word
    for (var i = 0; i < searchWords.length; i++) {
      if(searchWords[i] === "" || searchWords[i].length < 3){
        continue;
      }
      //loop cards to check if word is found in them
      $(cardContainer).each(function(key, val){
        var card = $(val);
        var keyWords = $(this).find('.card-keywords')[0];
        var containsWord = $(keyWords).text().toLowerCase().indexOf(searchWords[i]) > -1;
        if(containsWord){
          console.log('contains word: ' + searchWords[i])
          searchEngine.showCard(card);
        } 
      });
    }
  }


  searchEngine.onSearch = function(searchTerms){
    var hasSpace = searchTerms.indexOf((" ") > -1);
    var searchTermsArray = searchTerms.split(" ");


  //do not search when the search is same: avoid searches with same params
  if(searchTermsArray.toString() === lastSearchArray.toString()){
    return false;
  } else if(searchTermsArray.length === 1 && searchTermsArray[0].length < 3 ){
    //searchTermsArray.length === 1 && searchTermsArray[0] === "" || 
    searchEngine.showAllCards();
  } else {

    lastSearchArray = searchTermsArray;
    searchEngine._showMatchingCards(searchTermsArray);
  }
};

$(function(){

  $("#search").on('keyup',function(ev){
    var searchWords = $(this).val();
    searchEngine.onSearch(searchWords);

  });

});


</script>