  <div class="card-container">
          <div class="card">
            <div class="card-image">
              <img src="http://placehold.it/200x100" alt="placeholder"/>
              <span class="card-title">Tulinen Makkarakebab</span><i class="material-icons right activator">more_vert</i></span>
            </div><!-- card-image-->
            <div class="card-content">
              <p>Nopea ja suhteellisen helppo sekö täyttävä ateria.</p>
            </div>
               <div class="card-reveal">
                 <div class="row">
                  <div class="col s10"><span class="card-title grey-text text-darken-4">Tulinen Makkarakebab</div>
                  <div class="col s2"><i class="card-title material-icons right">close</i></div>
               </div>
               <div class="row">
                <div class="col s12">
                    <p>H: <span class="comment--italic">hyvää! :3</span></p>
                    <p>K: <span class="comment--italic">ei tehdä toisten</span></p>                  
                </div>
               </div>
               </div>
          </div>
      </div>